---
layout: 'base.njk'
---

<h2 class="skew">
  ¿Que estoy leyendo?
</h2>
<nav class="navigation">
  {% for libros in libros %}
    <a href="#{{ libros[0] | slug }}">
      {{ libros[0] }}
    </a>
  {% endfor %}
</nav>
{% for libros in libros %}
<h3 class="skew" id="{{ libros[0] | slug }}">
  {{ libros[0] }}
</h3>
<div class="grid">
  {% for libro in libros[1] %}
    <article class="libro">
      <header>
        <h4>{{ libro.titulo }}</h4>
        <p>{{ libro.subtitulo }}</p>
        <p>{{ libro.autor }}</p>
      </header>
      <img 
        src="/_resources/libros/{{ libro.tapa }}" 
        alt="{{ libro.tapa_alt }}"
        loading="lazy"
        width="300"
        height="450"
      >
    </article>    
  {% endfor %}
</div>
{% endfor %}