---
layout: 'base.njk'
---

<h2 class="skew">Trabajo</h2>
<nav class="navigation">
    <a 
      class="button-skew" 
      href="#rubi-bikes"
    >
      RubiBikes
    </a>
    <a 
      class="button-skew" 
      href="#pecom"
    >
      PECOM
    </a>
    <a 
      class="button-skew" 
      href="#casa-pignataro"
    >
      Casa Pignataro
    </a>
</nav>
<article class="trabajo">
  <h3 class="skew" id="rubi-bikes">RubiBikes</h3>
</article>
<article class="trabajo">
  <h3 class="skew" id="pecom">Portal de Ética PECOM</h3>
</article>
<article class="trabajo">
  <h3 class="skew" id="casa-pignataro">Casa Pignataro</h3>
</article>