---
layout: 'base.njk'
---

<h2 class="skew">
  Sonidossss
</h2>
<nav class="navigation">
  {% for tanda in sonidos %}
    <a href="#{{ tanda.titulo | slug }}">
      {{ tanda.titulo }}
    </a>
  {% endfor %}
</nav>
{% for tanda in sonidos %}
<h3 class="skew" id="{{ tanda.titulo | slug }}">
  {{ tanda.titulo }}
</h3>
<div class="stack skew-children">
  {% for track in tanda.tracks %}
    <article 
      class="card"
      {% if track.shadow_primary and track.shadow_secondary %}
        style="--shadow-primary: {{ track.shadow_primary }}; --shadow-secondary: {{ track.shadow_secondary }};"
      {% endif %}
    >
      <img 
        class="image banner"
        src="/_resources/imagenes/{{ track.imagen }}" 
        width="350" height="350" 
        load="lazy"
        alt="" 
      >
      <div class="content">
        <header>
          <h4>{{ track.nombre }}</h4>
          <p>{{ track.fecha }}</p>
        </header>
        <audio 
          class="base" 
          src="/_resources/sonidos/{{ track.archivo }}"
          preload="metadata"
          controls 
        ></audio>
      </div>
    </article>    
  {% endfor %}
</div>
{% endfor %}