---
layout: 'base.njk'
---

<header class="skew">
  <h2>Sketches</h2>
  <p>(Elegí alguno, move el mouse, hace click, etc...)</p>
</header>
<div class="grid">
  {% for sketch in collections.sketch | reverse %}
    <a class="libro" href="{{ sketch.url }}">
      <article>
        <img 
          class="image" 
          width="600"
          height="300"
          src="/_resources/sketches/{{ sketch.data.image }}" 
          alt=""
        >
        <header>
          <h4>{{ sketch.data.name }}</h4>
        </header>
      </article>
    </a>
  {% endfor %}
</div>