---
layout: 'base.njk'
---

<h2 class="skew">Código</h2>
{% for trabajo in collections.trabajos %}
  <article 
    class="card programacion" 
    {% if trabajo.data.color_primary and trabajo.data.color_secondary %}
      style="
        --shadow-primary: {{ trabajo.data.color_primary }}; 
        --shadow-secondary: {{ trabajo.data.color_secondary }};
      "
    {% endif %}
  >
    <a class="banner" href="{{ trabajo.url }}">
      <img class="image" src="/_resources/programacion/{{ trabajo.data.cover }}" alt="">
    </a>
    <div class="content">
      <h3><a href="{{ trabajo.url }}">{{ trabajo.data.titulo }}</a></h3>
      <p>{{ trabajo.data.desarrollo }}</p>
      <p>{{ trabajo.data.descripcion }}</p>
      <a href="{{ trabajo.url }}">Ver más</a>
    </div>
  </article>
{% endfor %}