@use '_styles/reset';

/* Variables */

:root {
  --font-main: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --color-dark: black;
  --color-dark-light: hsl(0, 1%, 27%);
  --color-light: white;
}

/* Base Styles */



body {
  font-size: 18px;
  font-family: var(--font-main);
  background-color: var(--color-light);
  color: var(--color-dark);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1 {
  font-size: clamp(2rem, calc(1rem + 5vw), 2.5rem);
  transition: 500ms;

  a {
    text-decoration: none;
  }

  &:hover {
    transform: rotate(360deg);
  }
}

h2 {
  font-size: clamp(3rem, calc(1rem + 5vw), 5rem);
  line-height: 1;
  max-width: 1000px;
  margin-inline: auto;
}

h3 {
  font-size: clamp(2rem, calc(1rem + 3vw), 2.5rem);
}

h4 {
  font-size: clamp(0.5rem, calc(1rem + 3vw), 1.75rem);
  letter-spacing: .05em;
}

p, ul:not([class]) {
  width: 100% ;
  max-width: 70ch;
  margin-inline: auto;
}

a[class] {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

audio {
  width: 100%;
}

/* Base Layout */

#app {
  // --stack-space: 3em;
}

#header {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

#main {
  padding: 2em 1em;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
}

#main-title {
  .uno {
    display: inline-block;
    transform: rotate(5deg);
    transition: 1000ms ease-in-out;
  }

  &:hover {
    .uno {
      transform: rotate(730deg);
    }
  }
}

#footer {
  color: var(--color-dark-light);
  font-size: 16px;
  letter-spacing: 1ch;
  text-align: right;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.75);

  p {
    max-width: 100%;
  }
}

/* Utilities */

.skew {
  background-color: var(--color-dark);
  color: var(--color-light);
  // padding-block: clamp(0.5em, calc(1em + 5vw), 2em);
  // padding-block: 1em;
  padding: 1em;
  clip-path: polygon(
    calc(0% + 0em) calc(100% - 0.75em),
    calc(100% - 0em) calc(100% - 0em),
    calc(100% - 0.25em) calc(0% + 1em),
    calc(0% + 1em) calc(0% + 0.5em)
  );
}

.center {
  max-width: 80ch;
  margin-inline: auto;
}

/* Layout */

.stack > * + * {
  margin-top: var(--stack-space, 2em);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: start;
  gap: 2rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  // grid-template-rows: repeat(14, 1fr);
  max-width: 800px;
  margin-inline: auto;
  aspect-ratio: 1;

  > *:not(.image-grid-a) {

    img {
      transition: 1500ms ease;
    }

    :checked + img {
      transform: rotateX(180deg) rotateY(360deg);
    }
  }


  &-a {
    grid-column: 3 / 13;
    grid-row: 3 / 13;
    
    img {
      transition: 2000ms ease;
    }

    :checked + img {
      transform: rotateX(180deg) rotateY(360deg);
    }
    
    // + input:checked {
    // }
  }

  &-b {
    grid-column: 1 / 6;
    grid-row: 1 / 6;
    transform: rotate(-20deg);
  }

  &-c {
    grid-column: 11 / 15;
    grid-row: 1 / 5;
    transform: rotate(-10deg);
  }

  &-d {
    grid-column: 11 / 15;
    grid-row: 6 / 10;
    transform: rotate(5deg);
  }

  &-e {
    grid-column: 11 / 15;
    grid-row: 11 / 15;
    transform: rotate(8deg);
  }
}

/* Components */

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin-inline: auto;
  gap: 1em;

  a {
    background-color: var(--color-dark);
    text-decoration: none;
    color: var(--color-light);
    padding-block: 0.5em;
    padding-inline: 2.5em;
    clip-path: polygon(
      calc(0% + 0em) calc(100% - 0em),
      calc(100% - 2em) calc(100% - 0em),
      calc(100% - 0em) calc(0% + 0em),
      calc(0% + 2em) calc(0% + 0em)
    );
    // margin-right: -2.5em;
    max-width: 30ch;
    transition: 500ms ease;

    &:nth-child(even) {
      transform: rotate(-5deg);
      &:hover {
        transform: scale(1.25) rotate(5deg);
        // margin-right: -1.5em;
        z-index: 100;
      }
    }

    &:nth-child(odd) {
      transform: rotate(5deg);
      &:hover {
        transform: scale(1.25) rotate(-5deg);
        z-index: 100;
      }
    }
  }
}

.image {
  border: 1px solid var(--color-dark);
  transform: rotate(var(--image-rotation));
  transition: 1000ms ease;
}

.image-link {
  display: inline-block;
}

.image.twisted {
  --image-rotation: 2deg;

  &:nth-of-type(even) {
    --image-rotation: -2deg;
  }
}

.card {
  border: 1px solid var(--color-dark);
  transform: rotate(var(--card-rotation));
  // max-width: 1000px;
  // margin-inline: auto;
  transition: 1000ms ease;

  max-width: 500px;
  margin-inline: auto;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 1em;
  }

  .banner {
    display: block;
    padding: 1.5em;
  }

  &:hover {
    box-shadow:
      10px 10px var(--shadow-primary),
      -10px -10px var(--shadow-secondary);
  }

  &:nth-child(odd) {
    --card-rotation: 1deg;
    --image-rotation: 3deg;

    &:hover {
      --card-rotation: -2deg;
      --image-rotation: -4deg;
    }
  }

  &:nth-child(even) {
    --card-rotation: -1deg;
    --image-rotation: -3deg;

    &:hover {
      --card-rotation: 2deg;
      --image-rotation: 4deg;
    }
  }

  @media (min-width: 700px) {
    display: flex;
    max-width: 1000px;

    .banner {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 300px;
      padding: 1em;
      img {
        max-height: 300px;
        aspect-ratio: 1;
      }
    }

    .content {
      flex-grow: 1;
      padding: 1em;
    }
  }
}

.card.programacion {
  --image-max-width: 350px;
}

.libro {
  --stack-space: 0.25em;
  display: flex;
  gap: 1em;
  flex-direction: column;
  text-align: center;

  p {
    font-size: 18px;
    line-height: 1.2;
  }

  img {
    order: -1;
    border: 1px solid black;

    transition: 1000ms ease;

    &:hover {
      transform: rotate(-5deg);
    }
  }

  &:nth-child(even) img:hover {
    transform: rotate(-5deg);
  }

  &:nth-child(odd) img:hover {
    transform: rotate(5deg);
  }
}

.p5Canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin: 0;
  z-index: -1;
}